body{
    background-color: rgb(90, 221, 96);
}

#myPic {
    background-image: url(/images/Ebube.jpg);
    background-repeat: no-repeat;
    box-shadow: 5px 2px 5px rgb(53, 105, 32);
    height: 500px;
    background-size: contain;
}
