body{
    background-color: rgb(90, 221, 96);
}

#myPic {
    background-image: url(/images/Ebube.jpg);
    width: 300px;
    height: 300px;
    background-size: 300px 300px;
    background-repeat: no-repeat;
    box-shadow: 5px 2px 5px rgb(53, 105, 32);
    margin-right: 20px;
}

@media(max-width: 800px) {
    #myPic {
        width: 100%;
        display: block;
    }
    div {
        display: block;
    }
}